@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container {
    /*min-height: 100vh; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.container .content {
    text-align: center;
}

.container .content h3 {
    font-size: 30px;
    color: #333;
}

.container .content h3 span {
    background: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}

.container .content h1 {
    font-size: 50px;
    color: #333;
}

.container .content h1 span {
    color: crimson;
}

.container .content p {
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content .btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
}

.container .content .btn:hover {
    background: crimson;
}

.post {
    /*min-height: 400px;*/
    height: auto;
    padding: 5px;
    /*padding-right: 0;*/
    background-color: white;
}

.postbox {
    /*border: solid thin #aaa;padding: 10px;*/
    
    width: 100%;

}

textarea {
    width: 100%;
    border: none;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 14px;
}

#post_btn {
    float: right;
    background-color: #b0ff66;
    border: none;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    width: 5px;
}

#post_btn:hover {
    background-color: #7bff00
}